<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Siemens.Engineering" culture="neutral" publicKeyToken="d29ec89bac048f84"/>
        <!-- Path of the Siemens.Engineering dll -->


        <!--
       <codeBase version="15.0.0.0" href="C:\Program Files\Siemens\Automation\Portal V15\PublicAPI\V15\Siemens.Engineering.dll"/>       
         

        <codeBase version="15.1.0.0" href="C:\Program Files\Siemens\Automation\Portal V15_1\PublicAPI\V15.1\Siemens.Engineering.dll"/>
        -->


        <codeBase version="16.0.0.0" href="C:\Program Files\Siemens\Automation\Portal V16\PublicAPI\V16\Siemens.Engineering.dll"/>

      </dependentAssembly>

    </assemblyBinding>


  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>